.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Column CSS */


.col-12{
  width:100%;
  float:left;
}

.col-11 {
  width:91.6666%;
  float:left;
}

.col-10 {
  width:83.3333%;
  float:left;
}

.col-9 {
  width:75%;
  float:left;
}

.col-8 {
  width:66.6666%;
  float:left;
}

.col-7 {
  width:58.3333%;
  float:left;
}

.col-6 {
  width:50%;
  float:left;
}

.col-5{
  width:41.6665%;
  float:left;
}

.col-4 {
  width:33.3333%;
  float:left;
}

.col-3 {
  width:25%;
  float:left;
}

.col-2 {
  width:16.6666%;
  float:left;
}

.col-1 {
  width:8.3333%;
  float:left;
}






/* BUTTON CSS */

button {
  transition: 0.3s ease-in-out;
}

.post-button{
  background-color: #0097e6;
  padding:15px 20px;
  color:white;
  border:none;
  border-bottom-right-radius: 5px;
  outline:none;
}

.post-button:hover{
  background-color: #047fc0;
}

button:hover{
  cursor: pointer;
}

.post-button i {
  margin-left:5px;
  color:white;
}

/* BADGE CSS */

.badge {
  padding:10px 12px;
  color:white;
  border-radius: 50%;
  text-shadow: 2px 2px 1px #c6c6c6;
  box-shadow: 2px 2px 2px #c6c6c6;
  font-weight:normal; 
}

.yellow-badge{
  background-color:#e1b12c;
}

.purple-badge{
  background-color:#8c7ae6;
}

.blue-badge{
  background-color:#487eb0;
}

/* USER IMAGE CSS */

.userProfile {
  height:auto;
}

.user-area{
  width:100%;
  padding:15px 35px;
  text-align: left;
}

.user-area .likes,
.user-area .comments{
  color:grey;
  font-size:10px;
  margin:0 5px;
}

.user-area .likes:hover,
.user-area .comments:hover{
  color:#0097e6;
  text-decoration: underline;
  cursor: pointer;
}

.large-image{
  width:50px;
  height:50px;
  border-radius: 50%;
  box-shadow: 2px 2px 2px #c6c6c6;
}

.small-image{
  width:30px;
  height:30px;
  border-radius: 50%;
  box-shadow: 2px 2px 2px #c6c6c6;
}

.small-image:hover{
  cursor:pointer;
}

/* Navigation List CSS */

.navigation-links {
  margin:0;
  padding:0 10px;
  list-style: none;
  height:auto;
  display:inline-block;
}

.navigation-links li {
  height:auto;
  transition: 0.3s ease-in-out;
  margin:5px 0;
  padding:10px 50px;
  border-radius:30px;
}

.navigation-links a {
  color:#a7a7a7;
  font-size:14px;
  font-weight:600;
  text-align: left;
  display:block;
}

.navigation-links .active,
.navigation-links li:hover{
  background-color: #0097e6;
  cursor: pointer;
  color:white;
}

.navigation-links li:hover a,
.navigation-links li:hover i {
  color:white;
}

.navigation-links .active {
  box-shadow: 2px 2px 2px #c6c6c6;
}

.navigation-links .active a {
  color:white;
}

.navigation-links .active a i {
  color:white;
}

.navigation-links i {
  color:#a7a7a7;
  font-size:16px;
  margin-right:10px;
  text-align: left;
}

/* Panel CSS */
.panel {
  position:relative;
  box-shadow: 2px 3px 10px 0px #dfdada, 
              -2px 2px 10px 0px #c6c6c6;
  padding:10px;
  height:auto;
  float:left;
  border-radius: 3px;
  width:100%;
}

.panel .userProfile {
  position: absolute;
  top:20px;
  left:-25px;
}

.panel .user-name-role p,
.panel .user-name-role a {
  display: inline;
  font-weight:600;
}

.panel .user-name-role a {
  color:#0097e6;
  font-size:14px;
  text-decoration: none;
}

.panel .user-name-role a:hover{
  text-decoration: underline;
}


.panel .user-name-role p,
.panel .user-name-role span {
  color:grey;
  font-size:12px;
  opacity:0.6;
}

.panel .user-name-role span {
  padding:0 5px;
}

.panel .timestamp {
  position: absolute;
  top:0;
  right:10px;
  color:grey;
  font-size:10px;
  font-weight:600;
}



.panel .post {
  font-size:12px;
  font-weight: 600;
  color:grey;
}

/* Comments CSS */

.comments {
  width:100%;
  padding:60px 0 0 0;
}

.comment {
  position: relative;
  width:90%;
  display:block;
  float:left;
  padding:5px 5%;
}



.comment img{
  float:left;
  margin: 0px 10px 10px 0;
}

.comment a {
  font-weight:600;
  color:#0097e6;
  font-size:10px;
  text-decoration: none;
  padding: 0 10px;
}

.comment a:hover{
  text-decoration: underline;
}

.comment p {
  font-size:10px;
  color:grey;
  text-align: left;
  line-height: 1.5;
}

.comment-box {
  padding:0 5%;
  width:90%;
  float:left;
}

.comment-box textarea {
  width:100%;
  color:grey;
  font-weight:600;
  font-size:10px;
  resize: none;
}

.comment-box button {
  padding:10px 20px;
  color:white;
  background-color:#0097e6;
  font-size:10px;
  font-weight:600;
  float:right;
  outline:none;
  border:none;
  border-radius: 3px;
}

.comments .load-more {
  color:#0097e6;
  font-size:10px;
  font-weight: 600;
  text-decoration: none;
}

.load-more:hover {
  text-decoration: underline;
  cursor:pointer;
}

/* Options in UserPanel CSS */
.userpanel-options {
  float:left;
  display:flex;
  justify-content: center;
  padding:5px 5%;
}

.userpanel-options i {
  color:grey;
  padding-right:5px;
}

.userpanel-options .heart {
  color:#e74c3c;
}

.userpanel-options button {
  border:none;
  background:transparent;
  color:grey;
  font-size:12px;
  font-weight:600;
  margin-right:15px;
  outline:none;
}

/* Reply Button CSS */
.reply-button {
  float:right;
  background:transparent;
  border-radius:20px;
  padding:10px 30px;
  outline:none;
  border:2px solid #cac9c9;
  font-weight:600;
  color:grey;
  font-size:12px;
  transition: 0.3s ease-in-out;
}

.reply-button i {
  color:grey;
}

.reply-button:hover{
  cursor: pointer;
  border:2px solid #0097e6;
}

/* Article in Panel CSS */

.panel .article {
  padding:20px;
}

.panel .article-photo{
  width:100%;
  height:200px;
}

.panel .article-title,
.panel .article-text,
.panel .article-date-author{
  color:#656363;
  margin:2px 0;
  text-align: left;
  font-weight:600;
  font-size:14px;
}

.panel .article-text,
.panel .article-date-author{
  color:grey;
  margin:10px 0;
  font-size:12px;
}

.panel .article-date-author{
  text-transform: uppercase;
  opacity:0.7;
}

/* Dropdown CSS */

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-title,
.dropdown .selection{
  display:inline-block;
  padding:0 5px;
}

.dropdown-title p {
  font-size:14px;
  margin:0;
  color:grey;
}

.dropdown .selection,
.dropdown .list {
  font-size:14px;
  font-weight:600;
  color:grey;
  border-radius: 3px;
  border: 1px solid transparent;
}

.dropdown .selection:hover,
.dropdown .list:hover{
  cursor: pointer;
}

.dropdown .selection i {
  margin-left:10px;
}

.dropdown .list{
  position: absolute;
  padding:0 5px;
  border-radius: 3px;
  color:#0097e6;
  transition: 0.3s ease-in-out;
}

.dropdown .list:hover{
  border:1px solid #c6c6c6;
}

.dropdown .list .item {
  margin:5px 0;
  padding-right:22px;
}

/* People you may know CSS */
.people-you-know-title {
  color:grey;
  font-size:12px;
  font-weight: 600;
  text-align: left;
}

.people-you-may-know-list {
  padding:20px 0;
}

.people-you-may-know-list .people .small-image,
.people-you-may-know-list .people .information {
  float:left;
}

.people-you-may-know-list .people .small-image{
  float:left;
}

.people-you-may-know-list .people{
  margin:20px 0;
}

.people-you-may-know-list .people .information {
  color:#0097e6;
  font-size:12px;
  text-decoration: none;
  margin-left:20px;
  text-align:left;
}

.people-you-may-know-list .people .information .name{
  color:#0097e6;
  font-size:12px;
  text-decoration: none;
  margin:0;
  text-align: left;
  font-weight:600;
}

.people-you-may-know-list .people .information .name:hover{
  color:#0097e6;
  font-size:12px;
  text-decoration: underline;
}

.people-you-may-know-list .people .information .role{
  color:grey;
  font-size:10px;
  margin:0;
}

.mutual-connections,
.mutual-connections i {
  font-size:10px;
  color:grey;
  text-align: right;
} 

.mutual-connections {
  padding:10px;
}

.mutual-connections i {
  margin:0 4px;
}

/* Search Control CSS */

.search-control{
  position: relative;
  float:left;
}

.search-control i {
  color:grey;
  padding:5px;
  margin:0 5px;
}



.search-control .icon,
.search-control input {
  display:inline-block;
}

.search-control input {
  border:none;
  outline: none;
  background:transparent;
  width:300px;
  color:grey;
  font-weight:600;
  caret-color: grey;
}

.search-control input::placeholder{
  color:grey;
  font-weight:600;
  opacity:0.6;
}

.search-control .results {
  width:100%;
  position: absolute;
  background-color:white;
  z-index: 10;
}


.search-control .results a {
  display:flex;
  width:100%;
  color:#0097e6;
  text-decoration: none;
  justify-content: center;
  border-top:1px solid #e6e6e6;
}



.search-control .results .result img,
.search-control .results .result p{
  text-align: left;
  float:left;
}

.search-control .results .result img {
  margin:10px;
}

.search-control .results .result p{
  color:#0097e6;
}

/* Share Panel CSS */

.share-panel{
  width:100%;
}

.share-panel .active {
  font-weight:700;
  color:#0097e6;
}

.share-panel ul {
  display:flex;
  justify-content: center;
  list-style: none;
  margin:20px 0;
  padding:10px 0;
}

.share-panel ul li {
  color:grey;
  font-size:12px;
  font-weight:600;
  padding:0 15px;
  transition: 0.3s ease-in-out;
}

.share-panel ul li:hover{
  color:#0097e6;
  cursor:pointer;
}

.share-panel ul li span {
  margin-right:7px;
}

.share-panel .panel {
  width:100%;
  padding:0;
}

.share-panel .panel textarea {
  width:96%;
  outline:none;
  color:grey;
  caret-color: grey;
  border-radius:3px;
  padding:15px 2% 0 2%;
  resize: none;
  font-size:11px;
  border:none;
  min-height:70px;
}

.share-panel .panel textarea::placeholder {
  color:grey;
  font-size:11px;
  font-weight: 600;
}

.share-panel .panel .buttons .post-button {
  float:right;
  font-weight:600;
  font-size:12px;
}

.share-panel .panel .buttons {
  background-color:white;
}

.share-panel .panel .buttons span {
  font-size:14px;
  color:grey;
  padding:12px 10px;
  float:left;
}

.share-panel .panel .buttons span:hover {
  color:#4d4d4d;
  cursor:pointer;
}

.share-panel .uploads {
  width:100%;
  background-color:white;
}

.share-panel .uploads .upload:hover {
  cursor:pointer;
}

.share-panel .uploads .upload {
  width:50%;
  float:left;
  padding:10px 0;
}

.share-panel .uploads .upload:hover p,
.share-panel .uploads .upload:hover i {
  color:#4d4d4d;
}

.panel .upload p,
.panel .upload i {
  color:grey;
} 

/* Main CSS */

.header {
  width:95%;
  height:45px;
  background-color:white;
  padding:15px 2.5% 0 2.5%;
  border-bottom:1px solid #e6e6e6
}

.header .logo-div{
  height:100%;
  float:left;
}

.header .logo-div img {
  width:40px;
  height:30px;
  float:left;
}



.header .notification{
  padding:6px 9px;
  background-color:#0097e6;
  color:white;
  border-radius: 50%;
  font-size:10px;
  float:right;
  margin:5px 12px;
}

.header .notification:hover {
  cursor: pointer;
}

.header .notifications .small-image {
  float:right;
}

.side-bar{
  padding:20px 0;
  height:auto;
  background-color:white;
}

.other-links {
  margin: 0;
  padding: 0 10px;
  list-style: none;
  height: auto;
  display: inline-block;
}

.other-links li {
  height:auto;
  transition: 0.3s ease-in-out;
  margin:5px 0;
  padding:10px 50px;
  border-radius:30px;
}

.other-links a {
  color:#a7a7a7;
  font-size:14px;
  font-weight:600;
  text-align: left;
  display:block;
}

.other-links li:hover{
  cursor: pointer;
}

.chart-area {
  padding:20px;
}

.chart-text {
  padding:20px;
  text-align: left;
  font-weight:600;
}

.chart-text p {
  color:#a7a7a7;
  font-size:12px;
}

.chart-text a {
  color:#0097e6;
  text-decoration: none;
  font-size:10px;
}

.main-area {
  padding:20px 0;
}